blockchain-app/node_modules
blockchain-app/public/hot
blockchain-app/public/storage
blockchain-app/storage/*.key
blockchain-app/vendor
blockchain-app/.phpunit.result.cache
blockchain-app/docker-compose.override.yml
blockchain-app/Homestead.json
blockchain-app/Homestead.yaml
blockchain-app/npm-debug.log
blockchain-app/yarn-error.log
blockchain-app/.idea
blockchain-app/.vscode

blockchain-office-app/node_modules
blockchain-office-app/public/hot
blockchain-office-app/public/storage
blockchain-office-app/storage/*.key
blockchain-office-app/vendor
blockchain-office-app/.phpunit.result.cache
blockchain-office-app/docker-compose.override.yml
blockchain-office-app/Homestead.json
blockchain-office-app/Homestead.yaml
blockchain-office-app/npm-debug.log
blockchain-office-app/yarn-error.log
blockchain-office-app/.idea
blockchain-office-app/.vscode

